body{
  background-color: hsl(0, 0%, 10%);
}

.todo-list{
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
}
h1{
  font-size: 4rem;
  color: white;
}
button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 13px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
button:hover{
  box-shadow: 4px 4px 8px 0px rgba(93, 93, 93, 0.4);
}
.add-button{
  background-color: hsl(125,47%, 54%);
}
.delete-button{
  font-size: 19px;
  padding: 7px 10px;
  margin-right: 10px;
  background-color:  hsl(10, 90%, 50%);
}
.delete-button:hover{
  background-color: hsl(10, 90%, 40%);
}
.move-button{
  padding: 7px 10px;
  background-color: hsl(0, 0%, 97%);
}
input[type="text"]{
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid hsla(0, 0%, 80%, 0.5);
  border-radius: 5px;
  color: hsla(0, 0%,0%, 0.5);
  margin:0.5rem;
}
input[type="checkbox"]{
  width: 25px;
  height: 25px;
}
ol{
  padding: 0;
}
li{
  font-size: 2rem;
  font-weight: bold;
  padding: 9px;
  background-color: hsl(0, 0%, 97%);
  margin-bottom: 10px;
  border: 3px solid hsla(0, 0%, 85%, 0.75);
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.text{
  flex: 1;
}
.delete-button .move-button{
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}